@tailwind base;

html {
  width: 320px;
  height: 326px;
  user-select: none;
}

:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-carbon-500;
}

::-webkit-scrollbar-thumb {
  @apply bg-prime-500;
}

@tailwind components;
@tailwind utilities;
