@tailwind base;

html {
  font-size: 16px;
}

body {
  width: 320px;
  height: 326px;
  user-select: none;
}

* {
  text-align: inherit;
}

:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-carbon-500;
}

::-webkit-scrollbar-thumb {
  @apply bg-prime-500;
}

@tailwind components;
@tailwind utilities;

.spinner {
  margin: 0 auto;
  border-radius: 100%;
  transition: all 0.3s linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
