// This file contains styles for both variants of the "Prime Video" navigation
// bar that appears on all local "Prime Video" sites

.rpv-inav {
  // Hide regular Amazon nav
  #nav-main,

  // Hide right nav (empty container)
  #nav-belt > .nav-right

  { display: none !important; }

  // Round all corners of the search box
  .nav-searchbar {
    overflow: hidden;
  }

  // Reduce whitespace around logo
  #nav-logo {
    width: auto !important;
  }

  // Disable the search scope dropdown
  #nav-search > form > .nav-left {
    pointer-events: none;
  }
  .nav-search {
    &-scope {
      padding: 0 !important;

      .nav-icon {
        display: none !important;
      }
    }

    &-label {
      margin: 0 12px !important;
    }
  }
}
