// This file contains styles for the less tall variant of the "Prime Video"
// navigation bar that appears for example on https://www.amazon.co.uk.

.rpv-inav-b {
  // Give the navigation bar a similar style as the one in variant A
  #nav-subnav {
    background: #1b2530;
    margin-top: 18px;

    .nav-a {
      color: #fff;
    }
  }
}
