$transition: 0.15s ease 0.1s;
$episode: '[id^="av-ep-episodes-"]';

#{$episode} {
  cursor: default;

  picture {
    backface-visibility: hidden;
    transition:
      filter $transition,
      transform $transition;
  }

  div[data-automation-id^='synopsis-'] {
    transition: opacity $transition;
  }
}

[data-rpv-spoilers='never'] #{$episode}:not(.rpv-watched),
[data-rpv-spoilers='onHover'] #{$episode}:not(.rpv-watched):not(:hover) {
  picture {
    filter: blur(9px);
    transform: scale(1.14) rotate(0.001deg);
  }

  div[data-automation-id^='synopsis-'] {
    opacity: 0;
    pointer-events: none;
  }
}
