$tr: .15s ease .1s;

%hidden-episode-container {
  img[srcset] {
    filter: blur(9px);
    transform: scale(1.14) rotate(.001deg);
  }

  div[data-automation-id^='synopsis-'] {
    opacity: 0;
  }
}

#js-node-btf ol {
  .js-node-episode-container {
    cursor: default;

    img[srcset] {
      transform: rotate(.001deg);
      transition: filter $tr, transform $tr;
    }

    div[data-automation-id^='synopsis-'] {
      transition: opacity $tr;
    }
  }

  &[data-rpv-spoilers='never'] .js-node-episode-container:not(.rpv-watched) {
    @extend %hidden-episode-container;
  }

  &[data-rpv-spoilers='onHover'] .js-node-episode-container:not(.rpv-watched):not(:hover) {
    @extend %hidden-episode-container;
  }
}
