.rpv-inav,
.avu-retail-page
{
  // Hide shopping-related nav items
  #nav-main,
  #nav-cart,
  #nav-link-prime,
  #nav-orders

  { display: none !important; }

  // Fix distance between "Amazon" nav and "Prime Video" nav
  #navbar:not(.layout2) {
    padding-bottom: 20px !important;
  }

  // Highlight "Prime Video" navigation bar
  .av-retail-m-nav-container {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  // Round all corners of the search box
  .nav-searchbar {
    overflow: hidden;
  }

  // Reduce whitespace around logo
  #nav-logo {
    width: auto !important;
  }

  // Disable the search scope dropdown
  #nav-search > form > .nav-left {
    pointer-events: none;
  }
  .nav-search {
    &-scope {
      padding: 0 !important;

      .nav-icon {
        display: none !important;
      }
    }

    &-label {
      margin: 0 12px !important;
    }
  }
}
